@import "./variables.css";
form .v-input {
    /* height: 40px; */
}

form .v-input.v-input--error {
    /* height: 60px; */
}

.parsley-errors-list.filled {
    list-style: none;
    padding-left: 0;
    color: var(--danger);
    font-weight: 600;
}
