:root {
  --principal: #e30512;
  --principal_hover: #f83542;
  --principal_t: #e30514d7;
  --secundario: #004a93;
  --secundario_hover: rgb(3, 72, 175);
  --bg1: #205080;
  --bg2: rgb(10, 30, 50);
  --bg3: rgb(3, 10, 20);
  --bg4: rgb(179, 253, 182);
  --bg5: rgb(253, 200, 179);
  --bg6: rgb(250, 249, 211);
  --bg7: rgb(212, 243, 255);
  --bg8: rgb(192, 255, 244);
  --danger: rgb(236, 122, 122);
  --bgDark: rgb(122, 236, 137);
  --bgDark1: rgb(32.4, 32.7, 33.3);
  --bgDark2: rgb(41, 41, 41);
  --bgDark3: rgb(59, 59, 59);
  --bgLight: rgb(223, 223, 223);
  --bgGrayDark: rgb(39, 39, 39);
}
